#slider1  {
  height: 160px !important;
  width: 100% !important;
  overflow: hidden;
  padding: 10px;
}
#slider1 .rs-container  {
  left: 50%;
  margin-left: -300px;
}
#slider1 .rs-tooltip  {
  top: 100px;
}

.number {
	width: 80px;
}
body{
font-family: 'Yanone Kaffeesatz', sans-serif;
 font-size: 32px;
}
