#slider1  {
  height: 160px !important;
  width: 100% !important;
  overflow: hidden;
  padding: 10px;
}
#slider1 .rs-container  {
  left: 50%;
  margin-left: -300px;
}
#slider1 .rs-tooltip  {
  top: 100px;
}

.number {
  display: inline-block;
	width: 80px;
	margin: 2px;
	background: #eee;
	text-align: center;
}

.group {
	border: 1px dotted #ccc;
	border-radius: 3px;
	padding: 5px;
}

.group-title {
  display: inline-block;
	position: absolute;
	top: -18px;
	left: 23px;
	background: #e0f4ff;
	padding: 0px 15px;
	font-size: 16px;
}

body{
 font-family: 'Yanone Kaffeesatz', sans-serif;
 font-size: 32px;
}

.row {
	margin-bottom: 30px;
}


